img {
    object-fit: cover;
}

p {
    object-fit: cover;
}

.color_btn {
    display: flex;
}

.product {
    padding-top: 50px;
}

    .product li {
        padding-top: 30px;
    }

.buy {
    text-align: left;
    padding-bottom: 20px;
}

.buybutton {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    color: white;
    margin-top: 20px;
    text-align: center;
}

.row {
    justify-content: space-around;
    /*padding-left:15px;
    padding-right:15px;*/
}

.wrapper {
    height: 500px;
    background-color: #f4f4f0;
}

    .wrapper h2 {
        padding: 76px;
        text-align: center;
    }

    .wrapper p {
        text-align: center;
        /*width: 665px;*/
        margin: auto;
    }

.demo_picture {
    padding-left: 0px;
    padding-right: 0px;
}

.product_dimensions h2 {
    display: block;
    text-align: center;
    padding: 50px;
}

.product_details {
    background-color: #f4f4f0;
}

.product_details_title {
    padding-top: 30px;
    text-align: center;
}

.materials {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    /*padding-left: 27%;*/
    padding-bottom: 50px;
}

.product_details_a {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-bottom: 50px;
}

.interest_you {
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}

.interest_you_title {
    text-align: center;
    padding-top: 20px;
}

.interest_you_card {
    display: flex;
}

    .interest_you_card p {
        text-align: center;
    }

.shopping_notice_card {
    display: flex;
    box-sizing: border-box;
    border-top: 2px solid #aaa;
    text-align: left;
}

.shipping {
    padding: 50px 50px;
}

    .shipping h3 {
        padding-bottom: 30px;
    }

.return {
    padding: 50px 50px;
}

    .return h3 {
        padding-bottom: 30px;
    }

@media (max-width: 767.98px) {
    .information_block {
        display: none;
    }
}
