<div class="container">
    <div class="title">
        <h1>About us</h1>
    </div>
    <div class="line"></div>
    <div class="col-12 row">
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>組長:黃宣銘</h2>
            </div>
            <div class="information">
                <p>email:ycpss90289@yahoo.com.tw</p>
                <p>
                   職責分工:後台,資料庫建構
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>組長:錢一瀚</h2>
            </div>
            <div class="information">
                <p>email:h50614ank@gmail.com</p>
                <p>
                    職責分工:動態生成產品列,結帳功能,金流,存取資料
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>組員:陳宏文</h2>
            </div>
            <div class="information" >
                <p>email:waynevirus1983@gmail.com</p>
                <p>
                    職責分工:GitHub版控,購物車功能,建立AZURE
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>組員:陳俊傑</h2>
            </div>
            <div class="information">
                <p>email:jacky637006@gmail.com</p>
                <p>
                    職責分工:存取資料,資料庫管理,產品頁面
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>嗨</h2>
            </div>
            <div class="information">
                <p>email</p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed consequatur iure numquam magnam
                    minus molestiae eius nulla quae. Libero, velit blanditiis rem quibusdam minima cum quia?
                    Molestiae nisi maiores rerum?
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 person">
            <div class="phone">
                <img src="https://picsum.photos/150/150/?random=1">
            </div>
            <div class="name m-auto">
                <h2>嗨</h2>
            </div>
            <div class="information">
                <p>email</p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed consequatur iure numquam magnam
                    minus molestiae eius nulla quae. Libero, velit blanditiis rem quibusdam minima cum quia?
                    Molestiae nisi maiores rerum?
                </p>
            </div>
        </div>
    </div>
</div>
@section topCSS{

    <link href="~/Assest/css/AboutUs.css" rel="stylesheet" />
    @* <link href="~/Content/Chart.css" rel="stylesheet" />*@
    <style type="text/css">
        .information{
            width:100%;
            text-align:center;
        }
    </style>
}
@section endJS{
    @*<script src="~/Scripts/Chart.js"></script>*@
    <script type="text/javascript">




    </script>
}
